.form > div {
    margin-bottom: 1em;
}

.form > div > * {
    display: block;
}

.form > div > label > span {
    color: red;
    font-size: smaller;
}

.form > div > input {
    width: 25em;
}

.form > div > div {
    display: flex;
    align-items: center;
    margin-top: 2px;
}

.form > div > div > input {
    margin-right: 3px;
}

.error {
    color: red;
}

.alert {
    border: 1px solid #888888;
    margin: 1em 0;
    padding: 1em;
}

.alert > button {
    margin-top: 0.3em;
}

#site-name > a {
    text-decoration: none;
    font-size: 1.3em;
    padding-top: 0.2em;
}
