<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" href="cue/css/qg.css" media="all" />
<!--[if lt IE 8
    ]><link rel="stylesheet" href="cue/css/qg-ie.css" type="text/css" media="all"
/><![endif]-->

<link href="cue/css/layout-small.css" media="all" rel="stylesheet" type="text/css" />
<link
    href="cue/css/layout-medium.css"
    media="only all and (min-width: 43em) and (max-width: 65em)"
    rel="stylesheet"
    type="text/css"
/>
<link
    href="cue/css/layout-large.css"
    media="only all and (min-width: 65em)"
    rel="stylesheet"
    type="text/css"
/>

<link rel="shortcut icon" href="cue/images/favicon.ico" />

<!--[if lt IE 9]>
    <script
        type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"
    ></script>
    <script type="text/javascript" src="cue/js/ie-layout.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="theme/agency.css" media="all" />
<link
    rel="stylesheet"
    type="text/css"
    href="theme/bs-layout-large.css"
    media="only all and (min-width: 65em)"
/>
<!--[if lt IE 8
    ]><link rel="stylesheet" href="theme/agency-ie.css" type="text/css" media="all"
/><![endif]-->

<link rel="stylesheet" href="styles.css" />
<script src="scripts.js"></script>
